################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealTimeProject/.vs/RealTimeProject/FileContentIndex/6a54bf47-a904-4d2f-8147-f8103c2d8f28.vsidx